{% extends "layout.html" %}
{% block title %}
Tienda
{% endblock title %}
{% block styles%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/checkout.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/checkout_responsive.css') }}">
{% endblock styles %}

{% block body %}
<div class="home" style="height:200px;">
			<div class="home_container d-flex flex-column align-items-center justify-content-end">
				<div class="home_content text-center">
					<div class="home_title">Actualizar producto</div>
				</div>
			</div>
		</div>

		<!-- Checkout -->
			<div class="container">
				<div class="row">
                    <div class="col-lg-12">
						<div class="billing">
							<div class="checkout_title">Seleccione el producto para actualizar e ingrese la información</div>
							<div class="checkout_form_container">
								<form action="/update" method="POST"id="checkout_form" class="checkout_form">
									<div>
										<!-- Country -->
										<select name="update" id="checkout_country" class="dropdown_item_select checkout_input" require="required">
											{% for i in productos %}
											<option value="{{i.id}}">{{i.name}}</option>
											{% endfor %}
										</select>
									</div>
									<div>
										<!-- Company -->
										<input type="text" name="name" id="checkout_company" placeholder="Nombre del producto" class="checkout_input">
									</div>
                                    <div>
										<!-- Company -->
										<input type="text" name="price" id="checkout_company" placeholder="Precio del producto" class="checkout_input">
									</div>
                                    <div>
										<!-- Company -->
										<input type="text" name="stocks" id="checkout_company" placeholder="¿Cuántos packs hay en stock?" class="checkout_input">
									</div>
									<div>
										<!-- Country -->
										<select name="category" id="checkout_country" class="dropdown_item_select checkout_input" require="required">
											{% for j in categorias %}
											<option value="{{j.id}}">{{j.parcial}}</option>
											{% endfor %}
										</select>
									</div>
									<div>
										<!-- Address -->
										<input type="text" name="picture" id="checkout_address" class="checkout_input" placeholder="Link de la imagén" required="required">
									</div>
									<button type="submit" class="btn btn-success col-md-12 checkout_button trans_200" style="border:0px;">Actualizar</button>
								</form>
							</div>
						</div>
					</div>
				</div>
            </div>
			<div class="container">
				<div class="row">
				 	<div class="col-md-6 py-3"><a href="/add"><button type="button" class="btn btn-success col-md-12">Agregar nuevo producto</button></a></div>
					<div class="col-md-6 py-3"><a href="/delete"><button type="button" class="btn btn-danger col-md-12">Eliminar producto</button></a></div>
				</div>
			</div>
{% endblock body %}

{% block script %}
<script src="{{ url_for('static',filename='js/checkout.js') }}"></script>
{% endblock script %}